body {
    background-color: darkcyan;
    line-height: 2em;
}
#rm {
    margin-left: 20px;
}
#todo-list-contain {
    background-color: white;
    margin-top: 20px;
    padding: 10px;
    line-height: 2em;
    list-style: disc;
    font-size: 20px;
    border: 2px solid black;
}
.btn {
    margin-left: 50px;
    padding: 10;
}
#add {
    margin-top: 10px;
margin-left: 10px;
}
#todo-input {
    width: 700px;
    height: 40px;
}
label {
    font-size: 35px;
    font-family: monospace;
    float: left;
}
li {
    font-size: 25px;
}
h1 {
    font-size: 70px;
    font-family: fantasy;
    letter-spacing: 2px;
    text-align: center;
    border: 5px solid black;    
    background-color: lightskyblue;
    line-height: 3em;
}